<div class="row">
    <div id="search">
      <div class="input-group">
        <input id="search" type="search" placeholder="What are you looking for?" class="form-control">
        <span class="input-group-btn">
          <form action="/search" method="get">
            <button type="submit" id="btnSearch" class ="btn btn-primary">Search</button>
          </form>
        </span>
      </div>
      <!-- <form action="/search" method="get">
        <fieldset class="clearfix">
          <div class="col-md-5 col-md-offset-2">
            <input type="search" name="search" value="What are you looking for?" onBlur="if(this.value=='')this.value='What are you looking for?'" onFocus="if(this.value=='What are you looking for?')this.value='' "> <!-- JS because of IE support; better: placeholder="What are you looking for?" -->
          <!-- </div>
          <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-default">
          </div>
        </fieldset>
      </form> -->
    </div> <!-- end search -->
</div><!-- end row -->



