

<div class="" id="home-container">
  <div class="home-content text-center">
    <h1>Welcome to BAG</h1>
    <p>Search for places to book and go!</p>
    <form action="/search" method="get" class="form-inline">
      <input type="search" placeholder="What are you looking for?" class="form-control input-lg input-long input-search">
      <button type="submit" class ="btn btn-primary btn-lg btn-search">Search</button>
    </form>
  </div>


</div>
<ul class="cb-slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>



