 <div class="container user-profile">
  <!-- image, name and category -->
  <div class="home-content text-right">
  <form action="/search" method="get" class="form-inline">
      <input type="search" placeholder="What are you looking for?" class="form-control input-lg input-long input-search">
      <button type="submit" class ="btn btn-primary btn-lg btn-user-search">Search</button>
    </form>
  </div>




  <div class="row">
    <div class="col-xs-3" >
      <div id="user_div_pp">
      <div class="user_picture_link">
        <div class="show-image">
          <%= image_tag @user.picture.url(:medium) %>
           <input class="glyphicon glyphicon-pencil" type="button" value="Update" />

</div>
</div>
        </div>
      </div>
        <h2><%= @user.first_name.titleize %>&nbsp<%= @user.last_name.titleize %></h2>
        <h3>0840984983</h3>

      </div>
<h1 color="white">Some user detail</h1>
<div>

  </div>
</div>
</div>
