.input-search {
  height: 70px;
}
.btn-search {
  background: transparent;
  border: 3px solid white;
  line-height: 44px;
}

.btn-user-search{
  background: transparent;
  border: 1px solid #555;
  line-height: 44px;
  text-color: #555;
}
